.main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #fdfdfd;

  h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: inset 0 -1px 0 0 #eaeaea;
  }

  section {
    width: 100%;
    max-width: 600px;
    height: 100vh;
    padding: 160px 0 100px;
    margin: 0 auto;

    .search {
      width: 100%;
      text-align: right;
      margin-bottom: 20px;

      input {
        height: 30px;
        width: 200px;
        padding: 2px 3px;
        border: 1px solid #eaeaea;
        outline: none;
      }
      button {
        height: 30px;
        width: 80px;
        border: none;
        outline: none;
        transition: 0.3s;
        cursor: pointer;
        background: #0070f3;
        color: #fff;

        &:hover {
          background: #0050d3;
          color: #fff;
        }
      }
    }

    table {
      width: 100%;
      overflow: hidden;
      border-collapse: collapse;
      thead {
        background: #000;
        color: #fff;
        font-size: 1.4rem;
        font-weight: normal;
        tr {
          th {
            text-align: left;
            font-size: 1rem;
          }
        }
      }
      td,
      th {
        padding: 2px 5px;
        border: solid 1px #000;

        &.number {
          text-align: right;
        }
      }
    }
  }
}
